{% load static %}
<!doctype html>
<html>
<head>
    <title>Grocery store - Home</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header style="background-color: #28a745;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;height:50px;font-size:25px" class = "header">
    <h1 style = "font-size:30px">Grocery Store</h1>
    <nav style="padding:20px">
      {% if user.is_authenticated %}
        Hello {{ user.username }} | <a style= "font-size = 30px" href="{% url 'logout' %}">Logout</a> | <a style= "font-size = 30px" href="{% url 'order_list' %}">My Orders</a> |

        <a style= "font-size = 30px" href="{% url 'cart' %}">Cart</a> | 
      {% else %}
        <a style= "font-size = 30px" href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Sign up</a>
      {% endif %}
    </nav>
  </header>

  <aside style = "text-align: center;width: 280px">
    <h3>Categories</h3>
    <ul>
      {% for cat in categories %}
        <li>
          <a style = "color: red" href="{% url 'category_detail' cat.slug %}">{{ cat.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </aside>

  <main style = "margin-right: 200px;tect-align: center">
    <h2 style = "text-align: center">Products</h2>
    <ul>
      {% for p in products %}
        <li>
          <a style ="text-decoration: none" href="{% url 'product_detail' p.slug %}">{{ p.name }}</a>  ₹{{ p.price }}
          <form action="{% url 'add_to_cart' p.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button style="background-color:blue" type="submit">Add to cart</button>
          </form>
        </li>
      {% empty %}
        <li>No products yet.</li>
      {% endfor %}
    </ul>
  </main>
</body>
</html>
