{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Order Detail</title>
    <link rel="stylesheet" href="{% static 'css/order_detail.css' %}">
</head>
<body>
  <header style="background-color: #28a745;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    border-radius:10px;
    height: 50px;
    font-family:"Segoe UI", Arial, sans-serif">
<h2>Orders</h2>
<a style="text-decoration: none;color:white" href = "{% url 'home' %}">Back to home</a>
   </header>

   <div style = "text-align: center">
    <h2>Your Order</h2>


<p><strong>Date:</strong> {{ order.created_at }}</p>
<p><strong>Status:</strong> {{ order.get_status_display }}</p>

 
<hr>

<h2>Ordered Items</h2>
<div style="margin-left: 620px;">
<table border="1" cellspacing="0" cellpadding="8">
    <thead >
        <tr style="text-align: center;">
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>₹{{ item.price }}</td>
            <td>₹{{ item.get_cost }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<hr>

<h2>Delivery Details</h2>
<p><strong>Name:</strong> {{ order.full_name }}</p>
<p><strong>Address:</strong> {{ order.address }}</p>
<p><strong>City:</strong> {{ order.city }}</p>
<p><strong>Pincode:</strong> {{ order.pincode }}</p>

   </div>
</body>
</html>
