{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Orders</title>
    <link rel="stylesheet" href="{% static 'store/css/order_list.css' %}">
</head>
<body>
    <div style="text-align: center;" class="container">
      <div>  
        <header style = "background-color: #28a745;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    bottom-radius:5px;
    height:50px;
    font-family:"Segoe UI", Arial, sans-serif">
    
    <h3>My Orders </h3>

  <a style="text-decoration: none;color:white" href = "{% url 'home' %}">Back to home</a>
</header>
        
      </div>


   
        {% if orders %}
            {% for order in orders %}
                <div style ="border: 0.5px solid black;width: 400px;text-align: center;margin: auto;height: 300px;border-radius: 10px;margin-top: 10px" class="order-card">
                    <h2>Order</h2>

                    <p><strong>Date:</strong> {{ order.created_at|date:"M d, Y h:i A" }}</p>

                    <p><strong>Total:</strong> ₹{{ order.total }}</p>

                

                    <h3>Items:</h3>
                    <ul>
                        {% for item in order.order_items.all %}
                            <li style ="margin-right:40px">{{ item.product.name }} (x{{ item.quantity }}) — ₹{{ item.get_cost }}</li>
                        {% endfor %}
                    </ul>

                    <form method="POST" action="{% url 'delete_order' %}">
        {% csrf_token %}
        <input type="hidden" name="order_id" value="{{ order.id }}">
        <button style = "background-color: red;color:white;border-radius: 5px;border:none;height: 30px" type="submit" class="remove-btn">
            Remove
        </button>
    </form>
                </div>
            {% endfor %}
        {% else %}
            <p style="margin-top: 250px;font-size: 30px;" class="no-orders">You have no orders yet.</p>
        {% endif %}
    </div>
</body>
</html>
