{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<style>
  
</style>

<body>

<header class="product-header">
    <h1>{{ product.name }}</h1>
    <a style = "font-size: 30px" href="{% url 'home' %}" class="back-link">Back to Home</a>
</header>

<main style="border:1px solid black;text-align:center;border-radius:40px;height:400px;margin:auto;margin-top:100px;margin-right:600px;width:300px;border:2px" class="product-container">
    {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
    {% endif %}

    <p class="price"><strong>Price:</strong> ₹{{ product.price }}</p>
    <p class="description"><strong>Description:</strong> {{ product.description }}</p>

    <form action="{% url 'add_to_cart' product.id %}" method="post">
        {% csrf_token %}
        <button style="background-color:blue;color:white;border:none;height:25px" type="submit" class="add-btn">Add to Cart</button>
    </form>
</main>

</body>
</html>
