{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <h1>{{ product.name }}</h1>
    <a href="{% url 'home' %}">Back to Home</a>
  </header>

  <main style="width: 300px;text-align: center;margin-right: 550px;border: 1px solid;margin-top: 50px;">
    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="250">
    <p><strong>Price:</strong> ₹{{ product.price }}</p>
    <p><strong>Description:</strong> {{ product.description }}</p>

    <form action="{% url 'add_to_cart' product.id %}" method="post">
      {% csrf_token %}
      <button type="submit">Add to Cart</button>
    </form>
  </main>
</body>
</html>
